@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #dddddd);
}

.converter-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #323233;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  background-color: #757575;
}

.theme-toogle:active {
  transform: scale(0.95);
}

.bi-sun-fill {
  display: none;
}

.logo-black {
  width: 120px;
  margin-block: 20px;
}

.logo-white {
  display: none;
}


.converter-container h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #414040;
  margin-bottom: 2rem;
}

.converter-container .input-container {
  border: 2px solid #bbbbbd;
  border-radius: 4px;
  margin-block: 1rem;
}

.converter-container .input-container:focus-within {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.converter-container .input-container input,
.converter-container .input-container select {
  width: 150px;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 8px;
  overflow: hidden;
}

.converter-container .arrow {
  transform: rotate(90deg);
  font-size: 2rem;
  color: #4a90e2;
  margin: 0 10px;
}

.converter-container .resultado {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1.3rem;
  color: #414040;
}

@media screen and (max-width: 440px) {
  body {
    min-height: 100dvh;
  }

  .converter-container {
    width: 85%;
    margin: 0 auto;
  }

  .converter-container h1 {
    font-size: 1.5rem;
  }

  .converter-container .input-container {
    border: none;
  }

  .converter-container .input-container input,
  .converter-container .input-container select {
    border: 1px solid #ccc;
    margin-block: 0.2rem;
    width: 100%;
  }

  .converter-container .arrow {
    font-size: 1.5rem;
  }

  .converter-container .resultado {
    font-size: 1.2rem;
  }
  
}

/****** DARK MODE ******/
body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #1b0737;
  color: white;
}